<script type="text/javascript">
    function getNewEndDate(){
      var periodicityType = <%= @communication_plan.periodicity %>;
		  var period = document.getElementById("period").value;
      if(isNaN(period)){
        //TODO locale
        alert("Digite apenas números.")
        document.getElementById("period").value = 1;
      } else{
        //calcula a data final do período do relatório
        //FIXME Pegar timezone do usuário
        var newDate = new Date("<%= @workperformance_report.start_period.to_date %>" + "T00:00:00-03:00");

        //FIXME período pode ser configurável no sistema (não só semanal, quinzenal e mensal)
        if(periodicityType == 1){ //semanal
          newDate.setDate(newDate.getDate() + 7 * period - 1);
        } else if(periodicityType == 2){ //quinzenal (duas semanas)
          newDate.setDate(newDate.getDate() + 14 * period - 1);
        } else if(periodicityType == 3){ //mensal
          newDate.setMonth(newDate.getMonth() + 1 * period);
          newDate.setDate(newDate.getDate() - 1);
        }

        document.getElementById("end_period").value = newDate.toLocaleDateString();
      }
      function getIntervalPeriodicity(periodicity_list){
        var days

      }
	}
</script>

<h2> <%= l(:label_report) %> </h2>
<%= form_tag :action => 'create' do %>
  <%= error_messages_for 'workperformance_report' %>
  <div class="box tabular">
    <!-- TODO locale -->
      <p style="text-align:right"> Enviado em: <%= format_date(@workperformance_report.send_date) %> </p>
      <p>
        <label for='user_id'><%= l(:field_author) %></label>
        <%= select_tag('user_id', principals_options_for_select(@assignables, @workperformance_report.user.id.to_s), :include_blank => true ) %>
      </p>
      <p>
        <!-- TODO locale -->
        <label for='period'> Período </label>
        <%= text_field_tag "period", @period, size: 3, onchange: "getNewEndDate();" %>
        <%= @periodicity_name %>, de
        <%= text_field_tag "start_period", @workperformance_report.start_period.nil? ? '': format_date(@workperformance_report.start_period.to_date), size: 11, readonly: true %>
        a <%= text_field_tag "end_period", @workperformance_report.end_period.nil? ? '': format_date(@workperformance_report.end_period.to_date), size: 11, readonly: true %>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Situação projeto </label>
        <%= select_tag('workperformance_report_status',
                        principals_options_for_select(@report_statuses,
                                                      @workperformance_report.issue_status_id.to_s) )%>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Sinalizador </label>
        <%= select_tag('flag',
                        principals_options_for_select(@flags,
                                                      @workperformance_report.flag_id.to_s) )%>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Objetivo geral </label>
        <%= text_area_tag 'overall_objective', @workperformance_report.overall_objective %>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Situação atual </label>
        <%= text_area_tag 'status_description', @workperformance_report.status_description %>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Próximos passos </label>
        <%= text_area_tag 'next_steps', @workperformance_report.next_steps %>
      </p>
      <p>
        <!-- TODO locale -->
        <label for=''> Riscos e pontos de atenção </label>
        <%= text_area_tag 'risks', @workperformance_report.risks %>
      </p>

      <h2> <%= l(:label_schedule) %> </h2>
      <!-- Montagem do cronograma -->
        <table class="list issues">
          <thead>
            <th><%= l(:field_activity) %></th>
            <th><%= l(:label_planned) %></th>
            <th><%= l(:label_accomplished) %></th>
          </thead>
          <tbody>
            <% @schedule_activities.each do |a| %>
            <tr>
                <td> <%= a.title %> </td>
                <td> <%= text_field_tag "planned-#{a.id}", a.planned %> </td>
                <td> <%= text_field_tag "accomplished-#{a.id}", a.accomplished %> </td>
            </tr>
            <% end %>
          </tboby>
        </table>

  </div>
  <%= submit_tag l(:button_create) %>
<% end %>
<br>
