<h2>Plano de comunicação</h2>
<br>
Projeto: "<%= @project.name %>"
<br>
Informações sobre o plano de comunicação<br>
Id: <%= @communication_plan.id %> <br>
Ativo: <%= @communication_plan.active %> <br>
Periodicidade: <%= @communication_plan.periodicity %> <br>
Data de início: <%= @communication_plan.start_date %> <br>
Criação automática: <%= @communication_plan.automatic_creation %> <br>
Projeto id: <%= @communication_plan.project_id %> <br>
Autor:<%= @communication_plan.user_id %> <br>
