<h2> <%= l(:label_communication_plan) %> </h2>
<%= form_tag :action => 'update' do %>
  <%= error_messages_for 'communication_plan' %>
  <div class="box tabular">
    <p>
      <label for='user_id'><%= l(:field_author) %></label>
      <%= select_tag('user_id', principals_options_for_select(@assignables, @communication_plan.user.nil? ? '' : @communication_plan.user.id.to_s) ) %>
      <em class="info">Verifique se o membros do projeto estão cadastrados.</em>
    </p>
    <p>
      <!-- TODO locale -->
      <label for='periodicity'> Periodicidade </label>
      <%= select_tag(:periodicity, options_for_select(@periodicity_list, @communication_plan.periodicity)) %>
    </p>
    <p>
      <!-- TODO locale -->
      <label for='start_date'> Data de início </label>
      <%= date_field_tag 'start_date',
                         '',
                         :value => @communication_plan.start_date.nil? ? '' : @communication_plan.start_date.to_date,
                         :size => 10 %> <%= calendar_for('period') %>
      <%= calendar_for('start_date') %>
    </p>
    <p>
      <!-- TODO locale -->
      <label for='active'> Ativo </label>
      <%= check_box_tag 'active', '1', @communication_plan.active %>
    </p>
    <p>
      <!-- TODO locale -->
      <label for='automatic_creation'> Criação de relatório automático </label>
      <%= check_box_tag 'automatic_creation', '1', @communication_plan.automatic_creation %>
    </p>
  </div>

    <div class="contextual">
      <p><%= link_to l(:label_addressee_new), "communication_plan/#{@communication_plan.id}/target_audience/new", :class => "icon icon-add" %></p>
    </div>
    <h3><%= l(:label_target_audience) %></h3>
    <!-- Montagem do lista de público-alvo -->
      <table class="list memberships">
        <thead>
          <th><%= l(:field_name) %></th>
          <th><%= l(:field_mail) %></th>
          <th></th>
        </thead>
        <tbody>
          <% @target_audiences.each do |t| %>
          <tr class="<%= cycle('odd', 'even') %> issue">
              <td class="name"> <%= t.user_name %> </td>
              <td> <%= t.user_email %> </td>
              <td class="buttons">
                <%= delete_link "communication_plan/#{@communication_plan.id}/target_audience/#{t.id}" %>
              </td>
          </tr>
          <% end %>
        </tboby>
      </table>
  <%= submit_tag l(:button_save) %>
<% end %>
